h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

a{
    color: var(--primary);
}

a:hover{
    color: var(--secondary);
}

.title{
    text-transform: uppercase;
    font-weight: 400;
}

.subtitle{
    color: var(--medium);
}

.block{
    margin-bottom: 120px;
}

.button{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-top: 23.5px;
    right: 5px;
}

.button-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}

.button-primary:hover{
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary-outline{
    border-color: var(--primary);
    color: var(--primary);
}

.btn-primary-outline:hover{
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot.active:hover span{
    background: var(--primary);
}